
.DS_Store
.idea/misc.xml
.idea/misc.xml
.idea/workspace.xml
.idea/misc.xml
code/.ipynb_checkpoints/recsys-checkpoint.ipynb
code/recsys.ipynb
code/.ipynb_checkpoints/UserCF-checkpoint.ipynb
code/.ipynb_checkpoints/UserCF_test-checkpoint.ipynb
code/CF/.ipynb_checkpoints/UserCF-checkpoint.ipynb
code/CF/.ipynb_checkpoints/UserCF_test-checkpoint.ipynb
code/CF/UserCF.ipynb
venv/
.idea/
.idea/misc.xml
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml
.idea/workspace.xml
